<div class="modal fade" id="pizzaModal" tabindex="-1" role="dialog" aria-labelledby="pizzaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pizzaModalLabel">Create Pizza</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="pizzaForm" (ngSubmit)="submitForm()">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" formControlName="name" id="name" class="form-control">
            <div *ngIf="pizzaForm.get('name')?.invalid && pizzaForm.get('name')?.touched" class="error-message">
              Name is required and should not exceed 100 characters.
            </div>
          </div>
          <div class="form-group">
            <label>Toppings:</label>
            <div formArrayName="toppings" *ngFor="let topping of toppingsFormArray.controls; let i = index" class="form-check">
              <input type="checkbox" [formControlName]="i" class="form-check-input">
              <label class="form-check-label">{{ allToppings[i].name }} ({{ allToppings[i].flavor }})</label>
            </div>
            <div *ngIf="pizzaForm.get('toppings')?.invalid && pizzaForm.get('toppings')?.touched" class="error-message">
              At least one topping must be selected.
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
