<h1>Toppings</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#toppingModal">
  Add a Topping
</button>
<app-topping-modal></app-topping-modal>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="toppings?.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Flavor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let topping of toppings">

      <td>{{ topping.name }}</td>
      <td>{{ topping.flavor}}</td>
      <td><button type="button" class="btn btn-secondary btn-sm" (click)="delete(topping)">Delete</button></td>
      <td><button type="button" class="btn btn-secondary btn-sm" (click)="update(topping)">Update</button></td>

    </tr>
  </tbody>
</table>
