<h1 id="tableLabel">Pizzas</h1>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pizzaModal">
  Add a Pizza
</button>
<app-pizza-modal *ngIf="!hideModal" [allToppings]="toppings"></app-pizza-modal>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="pizzas?.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Toppings</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pizza of pizzas">

      <td>{{ pizza.name }}</td>
      <td>{{ getToppings(pizza.toppings) }}</td>
      <td><button type="button" class="btn btn-secondary btn-sm" (click)="delete(pizza)">Delete</button></td>
      <td><button type="button" class="btn btn-secondary btn-sm" (click)="update(pizza)">Update</button></td>
    </tr>
  </tbody>
</table>
